@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tooltip */
.tooltip .tooltip-inner,
.tooltip .tippy-content {
  background: #718096;
  border-radius: 4px;
  padding: .2em .5em;
  color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  max-width: 350px;
}

.cursor-help, .has-tooltip:hover {
  cursor: help;
}

.loader-stripes + .loader-stripes {
  margin-top: 90px;
}

.loader-stripe {
  display: block;
  color: transparent;
  opacity: 0.1;
  background-color: #637282;
  height: 15px;
}
.loader-stripe::after {
  content: '';
  position: absolute;
  top: 0;
  left: -500px;
  width: 120px;
  height: 80px;
  opacity: 1;
  transform: rotate(10deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  animation-name: slide;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes slide {
  0% {
    left: -500px;
  }
  100% {
    left: 700px;
  }
}
