<template>
  <div>
    <div class="mb-3 px-4">
      <span
        v-tooltip.right="'Clusters are bigram word aggregations representing a subset of the total amount of articles for the given day. Click on one to see articles pertaining to that subset.'"
        class="
          text-white capitalize text-sm
          py-1 px-2 mr-1
          cursor-help
          rounded
          inline-flex justify-between items-center
          bg-gray-700
        "
      >
        <span class="pr-1">Clusters</span>
        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
        </svg>
      </span>
    </div>
    <div
      v-if="!appLoading"
      id="v-step-1"
      class="px-4 flex flex-wrap justify-start"
    >
      <Tag
        v-for="tag in tags"
        :key="tag.label"
        :label="tag.label"
      />
    </div>
    <div
      v-else
      class="pt-3 px-4 flex flex-wrap justify-start"
    >
      <span
        v-for="tag in [{label:'Loading...', id: 1}, {label:'Loading...', id: 2}, {label:'Loading...', id: 3}]"
        :key="tag.id"
        class="
        loader-stripe
        border
        text-dark capitalize
        py-1 px-2 mb-1 mr-1
        rounded
        inline-flex items-center
        bg-gray-100
        "
        style="height:30px; width: 120px;"
      />
    </div>

    <div class="mt-4 px-4">
      <span
        v-tooltip.right="'Here you can see all articles for today or only those of the cluster you select. Articles are ordered chronologically.'"
        class="
          text-white capitalize text-sm
          mt-3 py-1 px-2 mr-1
          cursor-help
          rounded
          inline-flex justify-between items-center
          bg-gray-700
        "
      >
        <span class="pr-1">Latest Articles</span>
        <svg style="width:16px;height:16px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
        </svg>
      </span>
    </div>
    <div
      v-if="!appLoading"
      class="flex flex-wrap mb-4"
    >

      <div
        v-if="articles.length > 0"
        class="w-full"
      >
        <div
          v-for="(article, index) in articles"
          :key="article._id"
          class="w-full"
        >
          <Card
            :article="article"
            :index="index"
          />
        </div>
      </div>
      <div
        v-else
        class="w-full text-center p-5"
      >
        <h2 class="text-2xl text-gray-500">Sorry, we can't relay articles for <em class="text-gray-600">{{ cluster }}</em>.</h2>
      </div>
      <div
        v-if="hasRelatedArticles"
        class="mt-4 px-4"
      >
        <span
          v-tooltip.right="'Here you can find other articles related to the cluster but not necessarily related to COVID-19.'"
          class="
            text-white capitalize text-sm
            mt-3 py-1 px-2 mr-1
            cursor-help
            rounded
            inline-flex justify-between items-center
            bg-gray-700
          "
        >
          <span class="pr-1">Related Articles</span>
          <svg style="width:16px;height:16px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
          </svg>
        </span>
      </div>
      <RelatedCard
        v-if="hasRelatedArticles"
        :articles="secondaryArticles"
      />
    </div>
    <div
      v-else
      class="flex flex-wrap mb-4"
    >
      <LoadingCard />
      <LoadingCard />
      <LoadingCard />
    </div>
    <v-tour
      name="productTour"
      :steps="steps"
      :callbacks="tourCallbacks"
    />
  </div>
</template>

<script>
import Tag from '@/components/Tag'
import Card from '@/components/Card'
import LoadingCard from '@/components/LoadingCard'
import RelatedCard from '@/components/RelatedCard'
import { mapState } from 'vuex'

export default {
  name: 'Home',
  components: {
    Tag,
    LoadingCard,
    Card,
    RelatedCard
  },
  data: () => ({
    tourCallbacks: {},
    steps: [
      {
        target: '#v-step-0',
        content: `
          Welcome to <b>COVID Info Watch</b>!
          <p><br>This portal lets you explore the global media coverage on the Coronavirus pandemic from hundreds of news sources.</p>
        `
      },
      {
        target: '#v-step-1',
        content: 'Each of these represents a cluster of news articles related to Covid-19. Click to filter articles. Click again to unselect.',
        params: {
          placement: 'top'
        }
      },
      {
        target: '#v-step-2',
        content: 'Main articles are listed here. If available, you\'ll see other related articles to the cluster you choose underneath.',
        params: {
          placement: 'top'
        }
      },
      {
        target: '#v-step-3',
        content: 'You can navigate to previous days (up to seven) here',
        params: {
          placement: 'top'
        }
      },
      {
        target: '#v-step-4',
        content: 'Here is the day you\'re looking at and the amount of articles gathered on that day',
        params: {
          placement: 'top'
        }
      }
    ]
  }),
  mounted() {
    this.tourCallbacks = {
      onSkip: this.registerTourEnd,
      onFinish: this.registerTourEnd
    }
    if (!this.hasSeenTour) {
      setTimeout(() => {
        this.$tours['productTour'].start()
      }, 2000)
    }
  },
  computed: {
    ...mapState({
      hasSeenTour: state => state.preferences.hasSeenTour,
      b: state => state.some.nested.module.b
    }),
    ...mapState([
      'appLoading',
      'articles',
      'tags',
      'secondaryArticles',
      'cluster',
    ]),
    hasRelatedArticles() {
      return this.secondaryArticles.length > 0
    }
  },
  methods: {
    registerTourEnd() {
      this.$mixpanel.track('closed_tour');
      this.$store.commit('preferences/hasSeenTour')
    }
  }
}
</script>
