<template>
  <div
    class="p-4"
    v-bind="params"
  >
    <div class="w-full lg:max-w-full lg:flex">
      <div
        v-if="hasMedia"
        class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
        :style="{ backgroundImage: `url('${article.urlToMedia}')`}"
        title="Article image"
      />
      <div
        class="border-r border-b border-l border-gray-400 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal w-full"
        :class="[
          hasMedia ? 'lg:border-l-0' : 'lg:rounded-l border-t rounded-t'
        ]"
      >
        <div class="mb-8">
          <a
            :href="article.url"
            class="text-blue-500 font-bold text-xl break-words no-underline hover:underline"
            target="_blank"
            @click="trackLink(article.url)"
          >
            {{ article.title }}
          </a>
          <div class="flex items-center mb-5">
            <div class="text-sm">
              <a
                :href="article.domain"
                class="text-blue-400 leading-none no-underline hover:underline"
                target="_blank"
                @click="trackDomain(article.domain)"
              >{{ article.domain }}</a>
              <p
                v-tooltip="formatDate(article.articlePublishDate, 'HH:mm DD MMM YYYY')"
                class="text-gray-600"
                v-text="publishDate(article.articlePublishDate)"
              />
            </div>
          </div>
          <p class="text-gray-700 text-base break-words">
            {{ truncatedBody }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import formatters from '@/mixins/formatters'

export default {
  name: 'Card',
  mixins: [
    formatters
  ],
  props: {
    article: {
      type: Object,
      required: true,
      default: () => {}
    },
    index: {
      type: Number,
      required: false,
      default: 0
    },
  },
  computed: {
    hasMedia() {
      return [
        this.article.urlToMedia.length > 0,
        this.article.urlToMedia.match('rss-pixel') === null,
        this.article.urlToMedia.match(/.mp4$/) === null,
        this.article.urlToMedia.match(/gravatar\.com/) === null,
        this.article.urlToMedia.match(/^https/) !== null
      ].every(Boolean)
    },
    truncatedBody() {
      return this.article.description.slice(0, 250)
    },
    params() {
      return {
        id: this.index === 0 ? 'v-step-2' : ''
      }
    }
  },
  methods: {
    trackLink(url) {
      this.$mixpanel.track('visit_link', {
        url: url
      });
    },
    trackDomain(url) {
      this.$mixpanel.track('visit_domain', {
        domain: url
      });
    }
  }
}
</script>
