<template>
  <div class="w-full p-4">
    <div
      class="h-32 min-height-32 rounded border border-b border-gray-400 bg-white overflow-hidden p-3"
    >
      <div class="loader-stripes flex relative">
        <span class="loader-stripe absolute" style="width: 103px; height: 103px;"></span>
        <span class="loader-stripe absolute" style="width: 60%; height: 28px; transform: translate(120px, 0);"></span>
        <span class="loader-stripe absolute" style="width: 15%; height:12px; transform: translate(120px, 33px);"></span>
        <span class="loader-stripe absolute" style="width: 120px; transform: translate(120px, 60px);"></span>
        <span class="loader-stripe absolute" style="width: 60%; transform: translate(250px, 60px);"></span>
        <span class="loader-stripe absolute" style="width: 170px; transform: translate(120px, 85px);"></span>
        <span class="loader-stripe absolute" style="width: 50%; transform: translate(300px, 85px);"></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoadingCard'
}
</script>
