<template>
  <nav class="md:flex items-center p-2 pb-4 md:p-4 bg-gray-100 fixed w-full top-0 shadow">
    <div class="flex relative">
      <a
        id="v-step-0"
        class="inline-block text-blue-400 text-2xl rounded py-1 px-3"
        href="#"
        @click="clearCluster"
      >COVID Info Watch</a>
      <small class="catchphrase notranslate">World coverage on the pandemic</small>
    </div>
    <button
      class="md:hidden border border-blue-600 text-blue-600 hover:bg-blue-400 hover:bg-blue-600 hover:text-white px-2 rounded m-6 ml-3 md:ml-6 text-xs absolute top-0 right-0"
      v-text="'About'"
      @click="toggleModal"
    />
    <div class="flex">
      <button
        class="md:block hidden border border-blue-600 text-blue-600 hover:bg-blue-400 hover:bg-blue-600 hover:text-white py-1 px-2 rounded mt-2 ml-3 md:ml-6 text-sm"
        @click="toggleModal"
      >
        About
      </button>
      <button
        class="md:block hidden border border-blue-600 text-blue-600 hover:bg-blue-400 hover:bg-blue-600 hover:text-white py-1 px-2 rounded mt-2 ml-1 text-sm"
        @click="toggleTour"
      >
        Help
      </button>
    </div>
    <div class="right ml-auto">
      <!-- <div id="google_translate_element"></div> -->
      <div class="hidden md:inline-flex items-center">
        <div
          id="v-step-4"
          class="flex items-center mr-5 ml-3 md:ml-0"
        >
          <span
            v-if="!appLoading"
            class="mr-3"
          >{{ articles }} articles</span>
          <span class="font-semibold">{{ selectedDay }}</span>
        </div>
        <div
          id="v-step-3"
          class="inline-flex items-center w-full md:w-auto justify-end"
        >
          <button
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 md:py-2 md:px-4 mr-2 border border-gray-400 rounded shadow"
            :class="{
              'opacity-50 cursor-not-allowed': currentDay === maxDays
            }"
            @click="navigateBack"
          >
            Prev
          </button>
          <button
            v-if="currentDay !== 0"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 md:py-2 md:px-4 mr-2 border border-gray-400 rounded shadow"
            @click="navigateToday"
          >
            Today
          </button>
          <button
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 md:py-2 md:px-4 border border-gray-400 rounded shadow"
            :class="{
              'opacity-50 cursor-not-allowed': currentDay === 0
            }"
            @click="navigateForward"
          >
            Next
          </button>
        </div>
      </div>
    </div>

  </nav>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment';

export default {
  name: 'Nav',
  data: () => ({
    maxDays: 7,
    currentDay: 0
  }),
  computed: {
    ...mapState([
      'appLoading',
      'clusterData',
      'selectedDate'
    ]),
    articles() {
      return this.clusterData.articlesCount
    },
    selectedDay() {
      return moment(this.selectedDate).format('ddd, DD MMM YYYY')
    }
  },
  methods: {
    clearCluster() {
      this.$store.commit('saveClusterTerm', '')
    },
    toggleModal() {
      this.$modal.show('aboutModal');
      this.$mixpanel.track('open_modal');
    },
    toggleTour() {
      this.$tours['productTour'].start()
      this.$mixpanel.track('open_tour');
    },
    navigateToday() {
      const newDate = moment()
      this.currentDay = 0
      this.$store.commit('setSelectedDate', newDate)
      this.reloadData()
      this.$mixpanel.track('navigate_today');
    },
    navigateBack() {
      if (this.currentDay + 1 <= this.maxDays) {
        this.currentDay += 1
        const newDate = moment(this.selectedDate).subtract(1, 'day')
        this.$store.commit('setSelectedDate', newDate)
        this.reloadData()
        this.$mixpanel.track('navigate_back');
      }
    },
    navigateForward() {
      if (this.currentDay - 1 >= 0) {
        this.currentDay -= 1
        const newDate = moment(this.selectedDate).add(1, 'day')
        this.$store.commit('setSelectedDate', newDate)
        this.reloadData()
        this.$mixpanel.track('navigate_forward');
      }
    },
    reloadData() {
      this.$store.commit('setAppLoading', true)
      this.$store.dispatch('GET_DATA').then(() => {
        this.$store.commit('setAppLoading', false)
      })
    }
  }
}
</script>

<style scoped>
.catchphrase {
  position: absolute;
  left: 13px;
  bottom: -6px;
  white-space: nowrap;
}
</style>
