<template>
  <div class="w-full p-4 flex">
    <div
      class="border border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal w-full"
    >
      <div class="mb-2 text-gray-700">
        More about "<span class="capitalize font-semibold">{{ cluster }}</span>"
      </div>
      <div
        v-for="article in articles"
        :key="article._id"
        class="mb-8"
      >
        <a
          :href="article.url"
          class="text-blue-500 font-semibold break-words no-underline cursor-pointer hover:underline"
          target="_blank"
          @trackLink="trackLink(article.url)"
        >
          {{ article.title }}
        </a>
        <div class="flex items-center mb-5">
          <div class="text-sm">
            <a
              :href="article.domain"
              class="text-blue-400 leading-none no-underline hover:underline"
              target="_blank"
            >{{ article.domain }}</a>
            <p
              v-tooltip="formatDate(article.articlePublishDate, 'HH:mm DD MMM YYYY')"
              class="text-gray-600"
              v-text="publishDate(article.articlePublishDate)"
            />
          </div>
        </div>
        <p class="text-gray-700 text-base break-words">
          {{ truncateBody(article.description) }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import formatters from '@/mixins/formatters'
import { mapState } from 'vuex'

export default {
  name: 'RelatedCard',
  mixins: [
    formatters
  ],
  props: {
    articles: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  computed: {
    ...mapState([
      'cluster',
    ])
  },
  methods: {
    truncateBody(description) {
      return description.slice(0, 250)
    },
    trackLink(url) {
      this.$mixpanel.track('visit_link', {
        url: url
      });
    },
  }
}
</script>
