<template>
  <button class="
    border
    text-dark capitalize
    py-1 px-2 mb-1 mr-1
    rounded
    inline-flex items-center
    tag
    shadow-sm
    "
    :class="[
      isActive
        ? 'bg-blue-200 hover:bg-blue-300 shadow-md'
        : 'bg-gray-100 hover:shadow-md'
    ]"
    @click="setSelectedCluster"
  >
    {{ label }}
    <svg
      v-if="isActive"
      style="width:16px;height:16px"
      viewBox="0 0 24 24"
      class="ml-1"
    >
      <path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
  </svg>
  </button>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Tag',
  props: {
    label: {
      type: String,
      required: true,
      default: ''
    }
  },
  data: () => ({
    isActive: false
  }),
  computed: {
    ...mapState([
      'cluster',
    ])
  },
  watch: {
    'cluster'(value) {
      this.isActive = value === this.label
    }
  },
  methods: {
    setSelectedCluster() {
      if (this.cluster !== this.label) {
        this.$store.commit('saveClusterTerm', this.label)
        this.$mixpanel.track('select_cluster', {
          cluster: this.label
        });
      } else {
        this.$store.commit('saveClusterTerm', '')
      }
    }
  }
}
</script>

<style scoped>
.tag {
  white-space: nowrap;
}
</style>
