<template>
  <div class="mt-24">
    <modal
      name="aboutModal"
      height="auto"
      :adaptive="true"
    >
      <div class="p-4 md:p-8">
        <p>
          <strong>What</strong><br>COVID Info Watch is a web portal dedicated to exploring media topics surrounding the COVID-19 theme.<br>
          It provides its users a way to identify common topics being discussed by the media and visualize them side-by-side with multiple other sources.<br><br>
          The aim of the tool is to allow users easily assess how certain topics are being presented in the news and by which media outlets.
        </p>
        <p class="mt-2">
          <strong>How</strong><br>
          It works by sourcing thousands of articles on a daily basis from hundreds of <a href="https://thoro.news/sources" class="text-blue-400" target="_blank">sources</a> and aggregating articles by doing
          statistical analysis of bigram word pairs. It is powered by <a href="https://thoro.news" class="text-blue-400" target="_blank">Thoro News</a>. You can read more about it <a href="https://github.com/mstrlaw/thoro.news" class="text-blue-400" target="_blank">here</a>.
        </p>
        <p class="mt-2">
          <strong>Why</strong><br>
          This information portal was created in the ambit of the <a href="https://euvsvirus.org/" class="text-blue-400" target="_blank">EUvsVirus pan-European hackathon</a> challenge arount the global Coronavirus pandemic.
        </p>
        <p class="mt-2">
          <strong>Who</strong><br>
          Developed by Lawrence B. Almeida (<a href="https://www.linkedin.com/in/lawrencebraun/" class="text-blue-400" target="_blank">LinkedIn</a>,  <a href="https://github.com/mstrlaw" class="text-blue-400" target="_blank">GitHub</a>)
        </p>
        <small class="text-gray-600">About updated on 26 Apr. 2020</small>
      </div>
    </modal>
    <Nav />
    <router-view/>
  </div>
</template>

<script>
import Nav from '@/components/Nav'
import { mapState } from 'vuex'

export default {
  components: {
    Nav
  },
  metaInfo: {
    meta: [
      { name: 'description', content: 'A Coronavirus centric news aggregator to help reduce disinformation' },
    ]
  },

  mounted() {
    this.$store.dispatch('GET_DATA').then(() => {
      this.$store.commit('setAppLoading', false)
    })
    this.$mixpanel.track('visited_website');
  },
  computed: {
    ...mapState([
      'cluster',
    ])
  },
  watch: {
    cluster(value) {
      this.$store.dispatch('GET_DATA', {
        cluster: value
      }).then(() => {
      })
    }
  }
}
</script>

<style >
@import './styles/vue-tour.css';
@import './styles/nprogress.css';
</style>
